:root {
  --brand-color-one: #2196f3;
  --dark-background-color: #2f303a;
  --light-background-color: #ffffff;
  --main-text-color: #212121;
}

h1,
h2,
h3,
h4,
p {
  margin: 0%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0%;
  font-family: Roboto, Raleway, sans-serif;
  color: var(--main-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover, .modal-close-button:focus {
  border-color: var(--brand-color-one);
}

.modal-close-button-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-close-button-icon, .modal-close-button:focus .modal-close-button-icon {
  fill: var(--brand-color-one);
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}
.modal-form-button {
  /* display: flex;
    align-self: center;
    text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: var(--brand-color-one);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.telegram-button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: var(--brand-color-one);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .telegram-button {
    margin: 0;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
  }
}
.part-logo {
  color: var(--brand-color-one);
}

.part-logo-two {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--light-background-color);
}

@media screen and (min-width: 768px) {
  .adresses-links {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation > .links {
    display: none;
  }
  .head__contacts > .links {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .links {
    display: flex;
    padding-left: 0;
    margin: 0%;
    margin-left: auto;
    list-style: none;
  }
  .links > li:last-child {
    margin-right: 0;
  }
  .links--location {
    margin-left: 88px;
  }
  .links--location > li {
    margin-right: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .links--location > li:last-child {
    margin-right: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .navigation > ul {
    margin-right: 331px;
  }
  .navigation > ul:last-child {
    margin-right: 0;
  }
  .icon {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1199px) {
  .links--column {
    flex-direction: column;
  }
  .links--column > li {
    margin-bottom: 10px;
  }
  .links--column > li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .links--location {
    margin-left: 93px;
  }
  .links--location > li {
    margin-right: 55px;
  }
  .links--column > li {
    margin-right: 30px;
  }
  .links--column > li > li:last-child {
    margin-right: 0;
  }
  .icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  ul .active {
    color: var(--brand-color-one);
  }
}
@media screen and (min-width: 768px) {
  .active-studio::after {
    display: block;
    content: "";
    position: absolute;
    top: 76px;
    left: auto;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: var(--brand-color-one);
  }
  .active-portfolio::after {
    display: block;
    content: "";
    position: absolute;
    top: 76px;
    left: auto;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background: var(--brand-color-one);
  }
}
@media screen and (min-width: 1200px) {
  .links .navigation-links:hover,
.links .navigation-links:focus {
    color: var(--brand-color-one);
  }
  .adresses-links:hover,
.adresses-links:focus {
    color: var(--brand-color-one);
  }
  .links .adresses-links:active {
    color: var(--brand-color-one);
  }
  .icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .adresses-links .icon:hover, .adresses-links .icon:focus {
    fill: var(--brand-color-one);
  }
  .active > a {
    color: var(--brand-color-one);
  }
  .active-studio::after {
    display: block;
    content: "";
    position: absolute;
    top: 76px;
    left: auto;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: var(--brand-color-one);
  }
  .active-portfolio::after {
    display: block;
    content: "";
    position: absolute;
    top: 76px;
    left: auto;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background: var(--brand-color-one);
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__links {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}

.mobile-menu__list-links {
  margin-bottom: 306px;
}

.mobile-menu__contacts > a {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-menu__contacts:last-child > a {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-menu__social-networks {
  display: flex;
}

.mobile-menu__social-network > a {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 20px;
}

.mobile-menu__social-network:last-child > a {
  margin-right: 0;
}

.mobile-menu__social-network::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: relative;
  left: -10px;
}

.mobile-menu__social-network:last-child::after {
  border: none;
}

.head {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #212121;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .head__contacts {
    display: flex;
    align-items: center;
  }
}
.head {
  margin: 0 auto;
  background-color: var(--light-background-color);
}

.head--border {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 0) {
  .hero {
    max-width: 480px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-background-color);
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-background-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-background-color);
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
@media screen and (min-width: 0) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    fill: #212121;
    background: #f5f4fa;
    border-radius: 4px;
  }
  .benefits-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .benefits-paragraph {
    width: 450px;
    padding-left: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .benefits-list > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-icon {
    width: 354px;
  }
  .benefits-paragraph {
    width: 354px;
  }
}
@media screen and (max-width: 768px) {
  .benefits-title {
    text-align: center;
  }
  .benefits-list > li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    max-width: 738px;
    list-style: none;
  }
  .benefits-list > li:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .benefits-icon {
    width: 270px;
  }
  .benefits-list {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }
  .benefits-list > li {
    margin-bottom: 0;
  }
  .benefits-paragraph {
    width: 270px;
  }
}
@media screen and (max-width: 1199px) {
  .do {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .do {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .do > .container {
    padding-top: 0;
  }
  .do-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .do-list {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .do-list > li:last-child {
    margin-right: 0;
  }
  .do-text {
    position: absolute;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .do-text-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (max-width: 1199px) {
  .team {
    min-width: 468px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f4fa;
  }
  .team__list {
    margin-top: 30px;
  }
  .team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .empl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 24px;
    background-color: var(--light-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .empl__name {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .empl__worker {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .empl__profession {
    margin-top: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .empl--links {
    display: flex;
  }
  li .network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--light-background-color);
  }
  .network__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--light-background-color);
    fill: #afb1b8;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .network__link:hover, .network__link:focus {
    background-color: var(--brand-color-one);
  }
  .network__icon {
    fill: #afb1b8;
    margin-right: 0;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .network__link:hover .network__icon, .network__link:focus .network__icon {
    fill: var(--light-background-color);
    /* background-color: var(--brand-color-one); */
  }
}
@media screen and (max-width: 767px) {
  .empl {
    min-width: 450px;
  }
  .empl:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .empl:nth-child(n+3) {
    margin-bottom: 0;
  }
  .empl--links {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  .team__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0px 0px 4px 4px;
  }
  .team__list > li {
    background-color: var(--light-background-color);
    border-radius: 0px 0px 4px 4px;
  }
  .team__list > li:last-child {
    margin-right: 0;
  }
  .empl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .empl__name {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .empl__worker {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .empl__profession {
    margin-top: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .empl--links {
    margin-left: 0;
  }
  li .network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--light-background-color);
  }
  .network__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--light-background-color);
    fill: #afb1b8;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .network__link:hover, .network__link:focus {
    background-color: var(--brand-color-one);
  }
  .network__icon {
    fill: #afb1b8;
    margin-right: 0;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .network__link:hover .network__icon, .network__link:focus .network__icon {
    fill: var(--light-background-color);
    /* background-color: var(--brand-color-one); */
  }
}
@media screen and (min-width: 0) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .clients-title {
    text-align: center;
    font-style: 700;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
  .links-wrap {
    min-width: 468px;
    display: flex;
    flex-wrap: wrap;
  }
  .clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
  }
  .clients-link > .icon {
    fill: #afb1b8;
  }
  .clients-list {
    width: 210px;
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .clients-list:nth-child(even) {
    margin-right: 0;
  }
  .clients-list:nth-child(n+5) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    width: 226px;
  }
  .clients-list:nth-child(3n) {
    margin-right: 0;
  }
  .clients-list:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .clients-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .clients-list {
    width: 170px;
  }
  .clients .clients-list {
    margin-right: 30px;
  }
  .links .clients-list:hover, .links .clients-list:focus {
    fill: var(--brand-color-one);
  }
  .clients-link {
    /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link > .icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--brand-color-one);
  }
  .clients-link:hover .icon, .clients-link:focus .icon {
    fill: var(--brand-color-one);
  }
}
@media screen and (min-width: 0) {
  .telegram-text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .telegram-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .telegram-input {
    min-width: 450px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .telegram-input:placeholder-shown {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
@media screen and (min-width: 1200px) {
  .telegram {
    margin-left: 93px;
  }
  .telegram-text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .telegram-flex {
    display: flex;
    align-items: center;
  }
  .telegram-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .telegram-input:placeholder-shown {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .telegram-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    min-width: 200px;
    height: 50px;
    background: var(--brand-color-one);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }
  .button-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .telegram-icon {
    margin-left: 10px;
  }
}
@media screen and (min-width: 0) {
  .buttons {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .buttons__portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  .buttons__portfolio > li {
    margin-right: 8px;
  }
  .buttons__portfolio > li:last-child {
    margin-right: 0;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    cursor: pointer;
    font-family: "Roboto";
    background-color: #f5f4fa;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    /* transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover, .button:focus {
    background-color: #2196f3;
  }
  .button:hover .button__text, .button:focus .button__text {
    color: #ffffff;
  }
  .button__text {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .works {
    display: flex;
    padding-left: 0;
    margin: 0%;
    margin-top: 25px;
    list-style: none;
  }
}
@media screen and (max-width: 767px) {
  .button__margin {
    margin-bottom: 15px;
  }
  .button__margin:last-child {
    margin-bottom: 0;
  }
  .works {
    flex-direction: column;
  }
  .work {
    margin-bottom: 30px;
  }
  .work:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .buttons__portfolio {
    justify-content: center;
  }
  .works > li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .works {
    flex-wrap: wrap;
  }
  .works > li {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .works > li:nth-child(2n) {
    margin-right: 0;
  }
  .works > li:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .buttons__portfolio {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin: 0%;
    margin-top: 50px;
    list-style: none;
  }
  .works > li {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .works > li:nth-child(3n) {
    margin-right: 0;
  }
  .works > li:nth-child(n+7) {
    margin-bottom: 0;
  }
}
.work {
  position: relative;
  border-bottom: 1px solid #eeeeee;
}
.work:hover, .work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__link {
  display: block;
  text-decoration: none;
}

.work__wrapper {
  position: relative;
  overflow: hidden;
}
.work__wrapper > img {
  display: block;
}

.work__modal {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}
.work:hover .work__modal, .work:focus .work__modal {
  transform: translate(0, 0);
}

.work__modal-text {
  width: 322px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work__text {
  border: 1px solid #eeeeee;
  padding: 24px 20px;
}

.work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.work__kind {
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 0) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
  }
}
@media screen and (max-width: 767px) {
  .footer {
    min-width: 468px;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-margin-bottom {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .footer-tablet-flex .footer-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .telegram.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-logo {
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .adress {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .bottom-links {
    padding-left: 0;
    margin: 0%;
    list-style: none;
  }
  .bottom-links > li {
    margin-top: 9px;
  }
  .footer-links {
    margin-top: 9px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 24px;
  }
  .footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer-adds {
    /* padding-top: 12px; */
  }
  .footer-adds .links {
    display: flex;
    margin-top: 20px;
  }
  .footer-adds .fill {
    margin-right: 10px;
  }
  .footer-adds .fill:last-child {
    margin-right: 0;
  }
  .footer-adds .fill {
    /* display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px; */
    width: 44px;
    height: 44px;
    /* border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1); */
  }
  .social-fill-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-adds .social-fill-link > .icon {
    fill: #ffffff;
    margin-right: 0;
  }
  .social-fill-link:hover, .social-fill-link:focus {
    background-color: var(--brand-color-one);
  }
  .fill-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .fill {
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .adress {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
  }
  .footer .fill .icon {
    fill: #ffffff;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .desktop-flex {
    display: flex;
    flex-direction: row;
  }
  .footer-logo {
    margin-bottom: 20px;
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
  }
  .bottom-links {
    padding-left: 0;
    margin: 0%;
    list-style: none;
  }
  .bottom-links > li {
    margin-top: 9px;
  }
  .footer-links {
    margin-top: 9px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 24px;
  }
  .footer-links:hover, .footer-links:focus {
    color: #2196f3;
  }
  .footer-title {
    padding-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer-adds {
    margin-left: 70px;
    /* padding-top: 12px; */
  }
  .footer-adds .links {
    margin-top: 20px;
  }
  .footer-adds .fill {
    margin-right: 10px;
  }
  .footer-adds .fill:last-child {
    margin-right: 0;
  }
  .footer-adds .fill {
    /* display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px; */
    width: 44px;
    height: 44px;
    /* border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1); */
  }
  .social-fill-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-adds .social-fill-link > .icon {
    fill: #ffffff;
    margin-right: 0;
  }
  .social-fill-link:hover, .social-fill-link:focus {
    background-color: var(--brand-color-one);
  }
  .fill-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .fill {
    cursor: pointer;
  }
}
@media screen and (min-width: 0) {
  .backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-form {
    padding: 40px;
  }
  .modal-form-title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: #757575;
  }
  .modal-form-contain {
    position: relative;
    cursor: pointer;
  }
  .modal-form-contain:hover .modal-form-input, .modal-form-contain:focus .modal-form-input {
    border-color: var(--brand-color-one);
  }
  .modal-form-input {
    display: block;
    margin-bottom: 10px;
    padding-left: 36px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:active {
    border-color: var(--brand-color-one);
  }
  .modal-form-input:hover + .modal-form-label-icons, .modal-form-inputt:focus + .modal-form-label-icons {
    fill: var(--brand-color-one);
  }
  .modal-form-label-icons {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--main-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-textarea:hover {
    border-color: var(--brand-color-one);
  }
  .modal-form-textarea:placeholder-shown {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-terms {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-form-terms::before {
    display: block;
    content: "";
    background-image: url(../images/checkbox1.svg);
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 10px;
  }
  .link-form-terms {
    color: var(--brand-color-one);
  }
  .modal-form-checkbox {
    position: absolute;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .modal-form-checkbox:checked + .modal-form-terms::before {
    background-image: url(../images/checkbox2.svg);
  }
  .modal-form-checkbox:focus + .modal-form-terms::before {
    background-image: url(../images/checkbox2.svg);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-form-title {
    line-height: 1.15;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */