@media screen and(min-width:0) {
  .telegram-text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .telegram-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 449px) {
  .telegram-input {
    width: 320px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:placeholder-shown {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height, or 125% */

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
@media screen and (min-width: 450px) and (max-width: 1199px) {
  .telegram-input {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:placeholder-shown {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height, or 125% */

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

@media screen and (min-width: 1200px) {
  .telegram {
    margin-left: 93px;
  }

  .telegram-text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .telegram-flex {
    display: flex;
    align-items: center;
  }

  .telegram-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:placeholder-shown {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height, or 125% */

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .telegram-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    min-width: 200px;
    height: 50px;
    background: var(--brand-color-one);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }

  .button-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .telegram-icon {
    margin-left: 10px;
  }
}
