.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}
