@media screen and (max-width: 1199px) {
  .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}

@media screen and(min-width:1200px) {
  .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
  }
}

.part-logo {
  color: var(--brand-color-one);
}

.part-logo-two {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--light-background-color);
}
