.modal-form-button {
  /* display: flex;
    align-self: center;
    text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: var(--brand-color-one);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
